html,
body {
  font-family: 'KBFG';
}
#root {
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: "KBFG";
  src: url("fonts/KBFGDisplayL.ttf");
}
@font-face {
  font-family: "KBFGB";
  src: url("fonts/KBFGDisplayB.ttf");
}